
.wrapper{
   max-width:1500px;
   margin: 0 auto;
   display: grid; /*convertir en cuadricula los */
   grid-template-areas:
   'header header header header'
   'menu content content content'
   'footer footer footer footer';
}

.header{
    background: violet;
    height: 60px;
    grid-area: header;
}


.menu{
    text-align: center;
    background: blue;
    grid-area: menu;
   
}

.content{
    text-align: center;
    background: palegreen;
    grid-area: content;


    
}

.footer{
    background: burlywood;
    height: 30px;
    grid-area: footer;
}