
.wrapper{
 max-width:1500px;
 margin: 0 auto;

}

.header{
    background: violet;
    height: 60px;
}

.container{
    background: rgb(18, 157, 192);
    overflow: hidden;
    
}

.menu{
    background: blue;
    float: left;
    width: 20%;
    height: 40px;
    
}

.content{
    background: palegreen;
    float: left;
    width: 80%;

    
}

.footer{
    background: burlywood;
    clear: both;
    height: 30px;
}