
.wrapper{
   max-width:1500px;
   margin: 0 auto;

}

.header{
    background: violet;
    height: 60px;
}

.container{
    background: rgb(18, 157, 192);
    display: flex;
    height: 60px;
    align-items: center;
    flex-direction: row-reverse;  /* para invertir cajas */
    
}

.menu{
    text-align: center;
    background: blue;
    width: 20%;
  
  
    
}

.content{
    text-align: center;
    background: palegreen;
    
    width: 80%;

    
}

.footer{
    background: burlywood;
    height: 30px;
}